<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Liverpool FC App</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <div class="main">
      <p>Thanks for add new player!</p>
      <p>Your add player: <%= player.firstname %> <%= player.lastname %> successfully!</p>
      <a href="./welcome" class="backToIndex anchorBtn">Back to main page!</a>

    <script type="text/javascript">

    </script>
  </body>
</html>
