<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Liverpool FC App</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <div class="main">
      <h2>Player query</h2>
      <p>To get information about player, make request:
        <span>
          playerQuery/lfc?Player=Player lastname
        </span>
      </p>

      <a href="../welcome" class="backToIndex anchorBtn">Back to main page!</a>
    </div>

    <script type="text/javascript">

    </script>
  </body>
</html>
