<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Liverpool FC App</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <div class="main">
      <h1>Liverpool FC Application</h1>
      <h2 id=userHeader>Hello <%= User %></h2>
      <div class="menu">
        <a href="./firstTeam" class="section">Informacje o zespole</a>
        <a href="./addPlayer" class="section">Dodaj zawodnika</a>
        <a href="./playerQuery" class="section">Player Query</a>
        <a href="https://2bigniew.github.io/my_portfolio/#contact" class="section"
        target="_blank">Contact</a>
        <a href="/logOut" class="logout section">Sign out</a>
      </div>

  </div>
  <script type="text/javascript">

  </script>
  </body>
</html>
